In [1]:
file_name = "bank-data.csv"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# this creates a pandas.DataFrame using the id column for indexing
data = pd.read_csv(file_name, index_col ='id')

In [3]:
df_num = data.copy()

In [4]:
df_num['sex'].replace(['FEMALE', 'MALE'], [0,1], inplace=True)

df_num['married'].replace(['NO', 'YES'], [0,1], inplace=True)
df_num['car'].replace(['NO', 'YES'], [0,1], inplace=True)
df_num['save_act'].replace(['NO', 'YES'], [0,1], inplace=True)
df_num['current_act'].replace(['NO', 'YES'], [0,1], inplace=True)
df_num['mortgage'].replace(['NO', 'YES'], [0,1], inplace=True)
df_num['pep'].replace(['NO', 'YES'], [0,1], inplace=True)
# One-hot encoding a single column - region - using pandas
# use pd.concat to join the new columns with your original dataframe
df_num = pd.concat([df_num,pd.get_dummies(df_num['region'], prefix='region')],axis=1)

# now drop the original 'region' column (you don't need it anymore)
df_num.drop(['region'],axis=1, inplace=True)
df_num['children'].replace([0,1,2,3], ["zero","one", "two", "three"], inplace=True)
df_num = pd.concat([df_num,pd.get_dummies(df_num['children'], prefix='children')],axis=1)

# now drop the original 'country' column (you don't need it anymore)
df_num.drop(['children'],axis=1, inplace=True)
target = df_num.pop("pep")

df_num.insert(0, target.name, target)

In [7]:
# split data into features and target variable
X = df_num.drop(columns=['pep' ])
Y = df_num['pep'].values
for x in X:
    minD = np.min(df_num[x])
    maxD = np.max(df_num[x])
    rangeD = maxD - minD
    df_num[x] -= minD
    df_num[x] /= rangeD
print(X)

              age  sex    income  married  car  save_act  current_act  \
id
ID12101  0.612245  0.0  0.215634      0.0  0.0       0.0          0.0
ID12102  0.448980  1.0  0.431395      1.0  1.0       0.0          1.0
ID12103  0.673469  0.0  0.198933      1.0  1.0       1.0          1.0
ID12104  0.102041  0.0  0.264320      1.0  0.0       0.0          1.0
ID12105  0.795918  0.0  0.783987      1.0  0.0       1.0          0.0
...           ...  ...       ...      ...  ...       ...          ...
ID12696  0.877551  0.0  0.722880      0.0  1.0       1.0          1.0
ID12697  0.244898  0.0  0.080151      1.0  1.0       1.0          1.0
ID12698  0.265306  0.0  0.188625      1.0  1.0       1.0          0.0
ID12699  0.224490  1.0  0.166866      1.0  0.0       1.0          0.0
ID12700  0.408163  1.0  0.372659      0.0  1.0       0.0          1.0

         mortgage  region_INNER_CITY  region_RURAL  region_SUBURBAN  \
id
ID12101       0.0                1.0           0.0              0.0
ID12102       1.0                0.0           0.0              0.0
ID12103       0.0                1.0           0.0              0.0
ID12104       0.0                0.0           0.0              0.0
ID12105       0.0                0.0           1.0              0.0
...           ...                ...           ...              ...
ID12696       1.0                1.0           0.0              0.0
ID12697       0.0                1.0           0.0              0.0
ID12698       0.0                0.0           0.0              0.0
ID12699       1.0                1.0           0.0              0.0
ID12700       1.0                0.0           0.0              0.0

         region_TOWN  children_one  children_three  children_two  \
id
ID12101          0.0           1.0             0.0           0.0
ID12102          1.0           0.0             1.0           0.0
ID12103          0.0           0.0             0.0           0.0
ID12104          1.0           0.0             1.0           0.0
ID12105          0.0           0.0             0.0           0.0
...              ...           ...             ...           ...
ID12696          0.0           0.0             0.0           1.0
ID12697          0.0           0.0             0.0           0.0
ID12698          1.0           0.0             0.0           0.0
ID12699          0.0           0.0             0.0           0.0
ID12700          1.0           0.0             0.0           0.0

         children_zero
id
ID12101            0.0
ID12102            0.0
ID12103            1.0
ID12104            0.0
ID12105            1.0
...                ...
ID12696            0.0
ID12697            1.0
ID12698            1.0
ID12699            1.0
ID12700            1.0

[600 rows x 16 columns]

In [ ]:
cp = df_num.copy()